Django
djangorestframework
djangorestframework-simplejwt
drf-spectacular
django-filter
django-cors-headers
python-dotenv
psycopg2-binary
django-redis
channels
channels-redis
celery
daphne
django-parler
django-parler-rest
openai
PyMuPDF
python-docx
jsonschema
pydantic
pydantic[email] 
pydantic-settings
pgvector
psycopg[binary]
gunicorn
whitenoise